name: Semantic Release

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  release:
    name: Release Main
    runs-on: ubuntu-latest
    steps:
      - name: checkout main
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'

      - name: install dependencies
        run: npm ci

      - name: run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.VERAN }}
        run: npx semantic-release
